.wangEditor-menu-container .menu-group{
    padding: 0 !important;
}
.wangEditor-menu-container .menu-item{
    width: 23px;
    height: 23px;
}
.wangEditor-container{
    border:1px solid #eaf0f1 !important;
}